body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', serif; 
    font-weight: 400, 700;
    align-items: center;
}

.background{
    text-align: center;
    background-color: white;
    width: 260px;
    height: 440px;
    padding: 15px;
    border: 5px white;
    border-radius: 25px;
    display: relative;
    margin: auto;
    margin-top: 60px;
}

h1{
  font-size: 21px;
}

p{
   color: hsl(220, 15%, 55%);
   font-size: 15px;
   align-items: center;
   padding-left:15px;
   padding-right: 15px;
}

img{
    border-radius: 10px;
    height: 60%;
    width: 100%;
}